### DEPENDENCIAS Y ARTEFACTOS DE BUILD ###
target/
build/
*.class
*.jar
*.war
*.ear
/bin/

# Maven Wrapper (Mantenemos esto para que otros puedan compilar sin instalar Maven)
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

### LOGS Y SISTEMA ###
/logs/
*.log
*.tmp
*.bak
.DS_Store    # Mac OS
Thumbs.db    # Windows
Desktop.ini  # Windows

### SEGURIDAD Y CONFIGURACIÓN (CRÍTICO) ###
*.env
.env
/secrets_store/     # <--- IMPORTANTÍSIMO: Aquí están tus contraseñas reales
*.p12
*.jks

# Archivos de propiedades locales que no deben subirse
/src/main/resources/application-local.properties
/src/main/resources/*.secret
/src/main/resources/*.key

### DOCKER ###
# Ignorar datos de DB si alguna vez usas volúmenes locales (bind mounts)
postgres_data/
mysql_data/
mongo_data/

### IDEs ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

### TESTS Y COBERTURA ###
# Si usas JaCoCo para cobertura de código
*.exec
/coverage/