services:
  # ----------------------------------------
  # 1. SERVICIO DE BASE DE DATOS (POSTGRES)
  # ----------------------------------------
  db:
    image: postgres:16-alpine
    container_name: postgres_cartones_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # ----------------------------------------
  # 2. SERVICIO DEL BACKEND (SPRING BOOT)
  # ----------------------------------------
  backend:
    build: .
    container_name: cartones_backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: create

    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: